*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #fff;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: grid;
  grid-template-rows: 30px 1fr;
}

section {
  display: flex;
}
/** Header */
.todo-title {
  color: #fff;
  font-size: 12px;
}
.icon-name {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: #222222;
}

/******************* 
 *                 *
 * Sidebar Section *
 *                 *
********************/

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #222222;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.img-avatar {
  width: 48px;
  height: 48px;
}

.firstname-family {
  font-size: 12px;
  color: #fff;
}

.email {
  color: #a6a6a6;
  font-size: 12px;
}

.search-box {
  width: 98%;
}

input.search-task {
  border-radius: 5px;
  background-color: #222222;
  color: rgb(255, 255, 255);
  width: inherit;
  padding: 7px;
  margin-bottom: 25px;
  border-left: solid 0.5px #2b2b2b;
  border-top: solid 0.5px #2b2b2b;
  border-right: solid 0.5px #2b2b2b;
  border-bottom: solid 1px rgb(152, 151, 151);
}

input.search-task:focus {
  outline: none;
  border-bottom: solid 2px #76b9ed;
}

::placeholder {
  color: #fff;
}

input.search-task:focus::placeholder {
  color: rgb(189, 189, 189);
}
.default-sidebar-menu ul li {
  list-style: none;
  margin-bottom: 5px;
  margin-right: -10px;
  margin-left: -10px;
}

.menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  padding-left: 12px;
  position: relative;
}
.menu li:hover {
  background-color: #343434;
}
.menu li::before {
  content: "|";
  font-size: 12px;
  font-weight: 700;
  color: #89bce5;
  background-color: #89bce5;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}
.hide-before::before {
  display: none;
}

.active-menu {
  background-color: #343434;
}

.menu li div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.messages-count {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #2e2e2e;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #e8e8e8;
}
.ph-1x {
  font-size: 1.5em !important;
  font-weight: 400 !important;
}
.line-splitter {
  border: none;
  height: 1px;
  background-color: #323232;
  margin-bottom: 10px;
}

.new-user-list {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  padding-left: 12px;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  margin-right: -10px;
  margin-left: -10px;
}

.new-user-list::before {
  content: "|";
  font-size: 12px;
  font-weight: 700;
  color: #89bce5;
  background-color: #89bce5;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}

.group-list {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 15px;
  align-items: center;
}

.untitled-list {
  background-color: #0078d7;
}

.new-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  padding-right: 200px;
  border-radius: 5px;
}

.list-name {
  padding-left: 10px;
  padding-right: 10px;
}
.rename-list-name {
  border: 0.5px solid #3c3c3c;
  border-radius: 5px;
  border-bottom: solid 2px #76b9ed;
  outline: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
.new-list:hover {
  background-color: #343434;
}

.new-list-btn {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.new-group {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  border-radius: 5px;
}

.new-group:hover {
  background-color: #343434;
}

/**************** 
 *              *
 * Main Section *
 *              *
*****************/
.main {
  flex: 1 1 0;
  background-color: #1c1c1c;
  padding: 30px 50px 10px 50px;
  height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.task-title {
  font-size: 30px;
  font-weight: 700;
  color: #788cde;
  padding: 10px;
}
.add-task {
  display: flex;
  margin-top: auto;
}

.add-task input {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  background-color: #292929;
  border: none;
  width: 100%;
}

.add-task input:hover {
  background-color: #3b3b3b;
}
.task {
  padding: 3px 0 0 0;
}
.task p {
  width: 100%;
  padding: 15px;
}
.task .has-task {
  border-radius: 5px;
  width: 100%;
  background-color: #2a2a2a;
  padding: 15px;
}

.task hr {
  border: none;
  height: 2px;
  background-color: #262626;
}
.task .hide-hr {
  display: none;
}
.task:last-child {
  margin-bottom: 80px;
}
