*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #fff;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1c1c1c;
}
.container {
  display: grid;
  grid-template-rows: 30px 1fr;
}

section {
  display: flex;
}
/** Header */
.todo-title {
  color: #fff;
  font-size: 12px;
}
.icon-name {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: #222222;
}

/******************* 
 *                 *
 * Sidebar Section *
 *                 *
********************/

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 1 360px;
  height: 100vh;
  background-color: #222222;
  line-height: 1.5;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.img-avatar {
  width: 48px;
  height: 48px;
}

.firstname-family {
  font-size: 12px;
  color: #fff;
}

.email {
  color: #a6a6a6;
  font-size: 12px;
}

.search-box {
  width: 98%;
}

input.search-task {
  border-radius: 5px;
  background-color: #222222;
  color: rgb(255, 255, 255);
  width: inherit;
  padding: 7px;
  margin-bottom: 25px;
  border-left: solid 0.5px #2b2b2b;
  border-top: solid 0.5px #2b2b2b;
  border-right: solid 0.5px #2b2b2b;
  border-bottom: solid 1px rgb(152, 151, 151);
}

input.search-task:focus {
  outline: none;
  border-bottom: solid 2px #76b9ed;
}

::placeholder {
  /* color: #6e77b5; */
  color: #ede3de;
  display: flex;
  align-items: center;
  font-weight: 500;
}

input.search-task:focus::placeholder {
  color: rgb(189, 189, 189);
}
.container-sidebar-header {
  position: sticky;
  z-index: 10;
  background: inherit;
  padding: 20px 15px 0;
  border-bottom: 1px solid #343434;
}
.sidebar-scrollbar {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}
/* .default-sidebar-menu {
  padding: 10px 20px;
} */
.default-sidebar-menu ul li {
  list-style: none;
  margin-bottom: 5px;
  margin-right: -10px;
  padding-left: 20px;
}

.menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  /* padding-left: 12px; */
  position: relative;
}
.menu li:hover {
  background-color: #343434;
}
.menu li::before {
  content: "|";
  font-size: 12px;
  font-weight: 700;
  color: #89bce5;
  background-color: #89bce5;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}
.hide-before::before {
  display: none;
}

.active-menu {
  background-color: #343434;
}

.menu li div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.messages-count {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #2e2e2e;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #e8e8e8;
}
.ph-1x {
  font-size: 1.5em !important;
  font-weight: 400 !important;
}
.line-splitter {
  border: none;
  height: 1px;
  background-color: #323232;
  margin-bottom: 10px;
}
#list-placeholder {
  margin: 0 5px 0 5px;
}
#list-placeholder .lists .list {
  list-style: none;
}

.list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 5px 8px 19px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}

.list:hover {
  background-color: #343434;
}

.group {
  align-items: center;
  gap: 15px;
  padding: 0 5px 0 19px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}
/* .group:hover { */
/* background-color: #343434; */
/* } */

.group .group-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  /* padding: 5px; */
  border-radius: 5px;
  padding: 8px 5px 8px 19px;
  margin-left: -20px;
  margin-right: -4px;
  margin-bottom: 5px;
}

.group .group-container:hover {
  background-color: #343434;
}
.group-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.lists-dropped {
  position: relative;
}
.group-body {
  list-style: none;
  margin-left: 35px;
  padding: 20px 20px 5px;
}
.group-body::before {
  content: "|";
  font-size: 10px;
  padding: 10px 0 0 0;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  left: 40px;
}

.group-body-hidebefore::before {
  content: none;
}

.list::before {
  content: "|";
  font-size: 12px;
  font-weight: 700;
  color: #89bce5;
  background-color: #89bce5;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}
.lists .list:active {
  transform: scale(0.98);
}
.listlist {
  margin-left: -20px;
  margin-right: -4px;
}

.listlist > i {
  padding-left: 40px;
}

.listlist::before {
  margin-left: 40px !important;
}

.hover-sidebar {
  background-color: #343434;
}
.list > *,
.default-list > * {
  pointer-events: none;
}
/* 
.new-user-list {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  padding-left: 12px;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  margin-right: -10px;
  margin-left: -10px;
}

*/

.group-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 4px;
  z-index: 11;
  border-top: 2px #fff;
  margin-top: 15px;
  background: inherit;
  padding-bottom: 30px;
  border-top: 1px solid #343434;
}

.untitled-list {
  background-color: #0078d7;
}

.new-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 0px 0 8px;
  border-radius: 4px;
  margin-left: 3px;
  flex: 1 0 auto;
}

.list-name {
  padding-left: 10px;
  padding-right: 10px;
}
.rename-list-name {
  border: 0.5px solid #3c3c3c;
  border-radius: 5px;
  border-bottom: solid 2px #76b9ed;
  outline: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
.new-list:hover {
  background-color: #343434;
}

.addList {
  background: none;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  flex: 1;
}

.new-group {
  display: flex;
  padding: 5px 8px 8px 8px;
  border-radius: 2px;
}

.new-group:hover {
  background-color: #2e2e2e;
}

.group-placeholder {
  display: flex;
  justify-content: ce;
  align-items: center;
  padding: 10px 15px 0px;
  flex: 1;
  gap: 20px;
  border-top: 2px dotted #555252;
  position: relative;
}
input.addGroup {
  background: none;
  outline: none;
  padding: 10px;
  border: 1px solid #706c6c;
  border-radius: 3px;
  flex: 1;
  color: #fff;
}

/**************** 
 *              *
 * Main Section *
 *              *
*****************/
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  height: 100vh;
  background-color: #1c1c1c;
}
.main-container {
  background-color: #1c1c1c;
  padding: 30px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f6f4f4;
  font-size: 14px;
  font-weight: 400;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 55px 5px 50px;
  position: sticky;
  background-color: #1c1c1c;
  background: transparent 0.8;
}
.main-header-container {
  flex: 1;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lines {
  margin: 0 60px;
  flex: 1;
  background: linear-gradient(#1c1c1c, #1c1c1c 50px, #262626);
  background-size: 100% 55px;
}
.task-title {
  font-size: 30px;
  font-weight: 700;
  color: #788cde;
  padding: 10px;
}
.task {
  padding: 3px 0 0 0;
  list-style: none;
}
.icon-task-size {
  font-size: 1.5rem;
}
.task p {
  width: 100%;
  padding: 25px;
}
.task .has-task {
  border-radius: 5px;
  width: 100%;
  background-color: #2a2a2a;
  padding: 15px;
}
/* 
.task hr {
  border: none;
  height: 2px;
  background-color: #262626;
} */

.has-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-task-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.drag-icon-check-task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hide-hr {
  display: none;
}
.active-hr {
  margin-bottom: 55px;
  border: none;
  height: 2px;
  background-color: #262626;
}
.add-task {
  display: flex;
  align-items: center;
  /* position: -webkit-sticky;
  position: sticky; */
  position: sticky;
  height: 150px;
  top: calc(100vh - 150px);
  bottom: 0;
  width: 79vw;
  background-color: #1c1c1c;
  padding: 10px 30px 50px 50px;
}

.add-task input[type="text"] {
  padding: 15px;
  outline: none;
  background-color: #292929;
  border: none;
  width: inherit;
  border-radius: 5px;
  height: 50px !important;
  font-size: 13px;
  box-shadow: none;
  line-height: 100% !important;
  padding: 10px 10px 10px 40px;
  color: #6a72b0;
}

#add-task-input {
  width: inherit;
}

.add-task input:hover {
  background-color: #3b3b3b;
  color: #fff;
}

.important-task i:hover {
  color: #7588d7;
}

.color-task-important {
  color: #7588d7;
}
.menu {
  margin-left: 5px;
  padding: 5px 0 0px 0;
}
.menu li {
  transition-delay: with 0.3s;
}

.menu li:active {
  transform: scale(0.98);
}

.menu li::before {
  content: "|";
  font-size: 12px;
  font-weight: 700;
  color: #89bce5;
  background-color: #89bce5;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}

.title-completed {
  text-decoration: line-through;
  color: #888888;
}

.ph-check-circle-fill {
  color: #7389e0 !important;
}

.completed-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  padding: 7px;
  background-color: #2a2a2a;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-top: 9px;
}

/*==============*/

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
  color: #6a72b0;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

/*==============*/

.hidden {
  display: none !important;
}

/*****************************
 * Change style of scrollbar
 *****************************/
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  /* background-color: #1c1c1c; */
  color: #fff;
}
::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(#fff, #a0a2a1); */
  background-image: linear-gradient(#9a9a9a, #9b9b9b);
  border-radius: 20px;
}
